[2016-06-05 18:03] paulmolluzzo opened #1 "Inspect Element with debug on"
If the app has `electron-debug` then there should be an item to "Inspect Element" like in Chrome that opens the inspector and highlights the appropriate element in the DOM.

[2016-06-05 18:07] paulmolluzzo commented on #1
Maybe this can just be used as a dependency of `electron-context-menu`? You wouldn't want two context menus that could conflict. https://github.com/parro-it/debug-menu

[2016-06-16 10:44] sindresorhus opened #3 "Add menu item for looking up a word on OS X"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/3/badge.svg" />](https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/3)

Using https://github.com/electron/electron/blob/master/docs/api/web-contents.md#webcontentsshowdefinitionforselection-macos

In Safari, it looks like the following:

<img width="201" alt="screen shot 2016-06-16 at 1

[2016-06-18 19:59] sindresorhus commented on #1
How about instead depend on https://github.com/sindresorhus/electron-is-dev and show the `Inspect Element` menu when it's in dev? No need for the user to use `electron-debug`. We could then just recommend this module in the `electron-debug` readme if they want `Inspect Element`.

[2016-06-19 01:31] paulmolluzzo commented on #1
Yes I agree, that's a more direct solution.

[2016-06-19 01:34] sindresorhus commented on #1
Alright. PR welcome :)

[2016-06-22 17:04] #1 closed

[2016-06-22 21:49] parro-it commented on #1
I noticed these kind of conflicts within different context menu, so sometimes ago I wrote [electron-contextmenu-middleware](https://github.com/parro-it/electron-contextmenu-middleware) to solve the issue. It allow you to compose different context menus with a middleware style pattern.

[https://github.com/parro-it/electron-input-menu](electron-input-menu) is another module that use this pattern.

[2016-06-22 21:57] paulmolluzzo commented on #1
@parro-it thanks, I actually found your repos when I implemented my PR and learned some stuff from your code! :smile:

I didn't implement your middleware package b/c it would have required refactoring other parts (right?) and didn't know if @sindresorhus would have an opinion.

[2016-06-22 22:11] sindresorhus commented on #1
I deliberately wanted something opinionated and simple for my apps. All that's required is [one line](https://github.com/sindresorhus/anatine/blob/8a091bbd62057b373904da606223882547f2b491/index.js#L13). Users can't change the core functionality here, but they can add stuff if they need to. Fits my needs better.

[2016-06-22 22:11] parro-it commented on #1
That's great to hear! I'm honestly feeling bad because I noticed this module when Sindre create it. I thought to get in touch but than completely forgot about it...

Anyway, If it's not too late I still think that the idea of using middleware pattern to integrate multiple context menu providers could deserve further discussion... I would be happy to help you and eventually integrate my context-men

[2016-06-28 09:33] oxyno-zeta commented on #3
Maybe, we can just open a browser page with the selected words in url place ?
It will take the default search on these words.

I will try this when I have some time.

But I'm ok to put this feature as disabled by default and activate it with options.

[2016-06-28 10:36] sindresorhus commented on #3
No, as described here, Electron already has an API for this.

[2016-06-28 11:56] oxyno-zeta commented on #3
The thing is that: I don't see where it is in your link. The anchor doesn't exist.
And Webcontents is in the view of electron, not in native browser, right ?

[2016-07-06 20:53] akashnimare opened #6 "Copy link is not working on Linux"
I am using this module on Linux.
Read/writeBookmark is not implemented yet on Linux, see [here](https://github.com/electron/electron/commit/f90ef128145600899427ef8c5629fa0cd794232d).
I think it's better to use [this](https://github.com/sindresorhus/electron-context-menu/blob/194c6dc553b4a23ee2df272d827f1e0672f8e739/index.js#L55) version which works fine on all three platforms.

[2016-07-06 20:56] #6 closed

[2016-07-06 20:56] sindresorhus commented on #6
Oh, I missed it was not implemented on Linux. Fixed now.

[2016-07-06 20:59] akashnimare commented on #6
Thanks. I was about to give a exactly same PR. :smile:

[2016-07-18 03:53] jiahaog opened #8 "Expose function to create menu template"
Hi!

I'm looking to use electron-context-menu, but I would like to add additional menu options to the created template, of [`menuTpl`](https://github.com/sindresorhus/electron-context-menu/blob/master/index.js#L12) and set up a callback for this myself.

Would it be possible to expose a function to create the template to do this, as illustrated in the example below below

[code]

I'll create a pul

[2016-07-18 22:32] sindresorhus commented on #8
Why not just use the `append` or `prepend` option?

[2016-07-19 19:36] jwheare opened #11 "Built in support for spell check suggestions"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/11)

Would make this a more attractive replacement for https://github.com/mixmaxhq/electron-editor-context-menu and should be simple enough to add.

e.g. https://github.com/mixmaxhq/electron-editor-context-menu/blob/d1703f7b7e4

[2016-07-20 11:51] sindresorhus commented on #11
👍 Interested in doing a pull request?

[2016-07-20 12:02] jwheare commented on #11
Yup, currently working on splicing it in with prepend. Will see about a more integrated PR once I've got that working. There's a bit of inter process fiddling required I think.

[2016-07-20 20:32] jwheare commented on #11
I fetched up ripping out what I needed and removing this dependency in the end.

https://github.com/irccloud/irccloud-desktop/blob/54174cc142db1bf236f0196e55acaaf986f976b0/app/context_menu.js

The spelling suggestions integration is done with an `ipcRenderer.send` from the renderer process (where the spellcheck provider has to be registered)
https://github.com/irccloud/irccloud-desktop/blob/54174c

[2016-07-20 23:09] sindresorhus commented on #11
Cool. Thanks for the ideas. Some of that does make sense.

To make this module more easily extendable I'm thinking of a system where you can mix custom items with the provided ones:

[code]

Where `x.COPY` is a `Symbol`.

Regardless of you using it, what do you think about it?

[2016-07-20 23:58] jwheare commented on #11
Yeah that would be handy. If I could reuse your cut/copy/paste symbols and build the whole menu myself, while still using your separator filtering that'd be better. Just having more exports for the different stages would be a good start.

[2016-07-29 10:38] fritx opened #13 "Add "Save Image As..." menu item"
Docs: https://github.com/sindresorhus/electron-dl#saveas
Now I have to fork the whole library to give the tweak :/

[code]

[2016-08-04 03:12] jiahaog commented on #8
Sorry for the delay! This is because I would like to append a different item to the context menu every time something is clicked. For example, I want to add a context menu option to open a link in a new window, which will be different depending on the link that is clicked

[2016-08-04 14:24] sindresorhus opened #14 "Make it more easily extendable"
The `append` and `prepend` options solve most use-cases, but there are still some people that want 100% control. Would be nice to expose a way to build the menu with ready made components, like lego. I'm thinking:

[code]

Where `x.COPY` is a `Symbol` that includes the built-in cut/copy/paste menus. That way it would be easy to add many more built-in menu types users could pick from.

[2016-08-04 14:25] sindresorhus commented on #8
The `append` option expects a function that returns an array of menu items. The function is executed on every right-click, so you can return anything dynamically then. Should solve your needs.

You might also be interested in https://github.com/sindresorhus/electron-context-menu/issues/14.

[2016-08-20 15:17] callodacity commented on #14
+1 for this definitely.

I find myself wanting to all `SelectAll` to the default `cut` `copy` `paste` commands.

I think your above syntax is a good approach, something like:

[code]

and it the `menu` item isn't set, obviously default back to normal.

[2016-08-20 15:28] sindresorhus commented on #14
@callodacity Keep in mind that "Select all" is never in the context menu on macOS or Linux, but rather in the top menubar "Edit" menu. Only on Windows it's in the context menu. I should probably create a built-in for that. The reason this module is opinionated is to ensure users implement items correctly, like this case.

[2016-08-20 15:34] callodacity commented on #14
@sindresorhus "Select All" is in the context menu on macOS when right-clicking inside any textarea or input (try it in the write comments section or the main text input on [google](www.google.com)). But I definitely agree that keeping it standard is always best. However, think it's important that this module is extendable / customisable too.

[2016-08-20 15:41] sindresorhus commented on #14
@callodacity That's just Chrome being non-native as usual. Try Safari or any of the builtin macOS apps.

-

Yup, that's the plan.

[2016-08-20 15:45] callodacity commented on #14
@sindresorhus Good point, I missed that.
Keep up the good work then mate 👍

[2016-09-06 07:37] eladams opened #17 "How should it be used with Electron's <webview>?"

[2016-09-06 08:18] sindresorhus commented on #17
You pass a reference to the `<webview>` to the `window` option. Webview was just added a week ago: https://github.com/sindresorhus/electron-context-menu/pull/15 ;)

[2016-09-06 08:18] #17 closed

[2016-09-12 12:23] jnugh opened #18 "Cannot paste copied links on Windows (10)"
Hi there,

when I copy a link on WIndows a bookmark is being written to the clipboard:
[code]
I'm not able to paste this bookmark in most applications including the electron app I copied it from. The only app I found which allows pasting these bookmarks is actually Chrome.

I could create a PR to make this configurable, but wasn't sure what the actual advantage of the bookmark API is and if there

[2016-09-12 16:14] sindresorhus commented on #18
Sounds like an Electron bug. On macOS, at least, it gracefully falls back to plain text when the link type is not supported for pasting. Could you open an Electron issue about this? Happy to accept a PR to use the plain text pasting on Windows for now.

[2016-09-12 16:19] jnugh commented on #18
Maybe more like a Windows bug. As I said, the bookmark cannot be pasted into most applications like:
* Skype
* Notepad
* Visual Studio
* Mail
Looking at the apps I tested, it only worked in Chrome.

Maybe someone uses the Bookmark Clipboard manually in the app and relies on Copy link to create a bookmark - I would rather add an option switch.

[2016-09-12 16:36] sindresorhus commented on #18
I still think it's worth opening an Electron issue. There might be something they can do to work around, and if no other option, at least document more clearly its limitation.

I doubt it. It was never documented to copy a bookmark I only added it as a nice implementation detail bonus, as I thought it worked the same on Windows as on macOS. I don't like options when they're not really necessary.

[2016-09-19 17:06] #18 closed

[2016-09-21 15:45] Razzeee commented on #13
Electron-dl just needs to be bumped to the newest version in the `package.json`. Would be really nice if that could be in the next release.

[2016-09-29 11:13] egoist opened #20 "Add menu item for copying link of an image"

[2016-09-29 11:25] sindresorhus commented on #20
Sure. PR welcome. Should be an option that is false by default.

[2016-10-05 21:20] coupej opened #22 "Allowing i18n of the labels."
What would be the recommended way of translating/overwriting the default labels? Maybe it would be interesting to take that into account when implementing an implementation for issue #14?

[2016-10-06 09:23] sindresorhus commented on #22
How about an option named `labels` that accepts an object of labels to override?

[code]

Doesn't have to wait for #14.

[2016-11-04 02:34] #22 closed

[2016-11-11 17:49] salomvary opened #24 ""TypeError: undefined is not iterable" if prepend or append does not return an array"
Use case: there might be nothing to prepend, in which case returning `undefined` (ie. not returning anything) makes sense.

As an alternative, update docs to say "must return an array" instead of "should return an array":
https://github.com/sindresorhus/electron-context-menu#append

Wdyt? Happy to send a pr..

[2016-11-23 09:28] #24 closed

[2016-12-15 14:23] jacwright opened #26 "Error raised when inspecting element while window is not in focus"
Repro:
* Open devtools, pop them out if in-window
* Right-click main window and choose Inspect Element while the devtools window is focused

Actual:
Error popup

Desired:
Element clicked on should be inspected

It seems that the window argument passed to the context menu click callback is the focused window (which is null since devtools is focused), not the clicked window. This ought to be fixed u

[2017-01-18 09:24] alisiddiq opened #27 "I can only see Inspect Element option"
I have tried using this at the start of my main.js:

require('electron-context-menu')({
    prepend: (params, browserWindow) => [{}]
});

I can only get the inspect Element menu and cannot figure out what extra things I need to do to add more options like Reload page to the context menu. Please help.

[2017-01-18 13:32] sindresorhus commented on #27
It's documented right in the `Usage` section how to add a custom element: https://github.com/sindresorhus/electron-context-menu#usage

[2017-01-18 13:32] #27 closed

[2017-01-23 12:11] CFDylan opened #28 "writeBookmark() is not a function for electron which less v1.2.6"
When I use Copy Link in electron-prebuilt@1.0.2, it throw error said writeBookmark() is not a function.
`electron.clipboard.writeBookmark(props.linkText, props.linkURL);`

[2017-01-23 12:40] sindresorhus commented on #28
Upgrade Electron.

[2017-01-23 12:40] #28 closed

[2017-01-26 23:19] zackshapiro opened #29 "Installation not working"
After running `npm install --save electron-context-menu` and adding

[code]

I've tried a variety of configurations, nothing seems to add Inspect Element to my rightclick menu, which I don't have. I tried looking into the source and have come up empty so I'd love advice on how to get this working.

Thanks!

[2017-01-31 07:53] sindresorhus commented on #29
Maybe related to https://github.com/sindresorhus/electron-is-dev/issues/4?

[2017-02-05 19:21] #8 closed

[2017-02-08 00:59] esend7881 opened #30 "A different context menu in different parts of the app"
I would like the context menu to be different in different parts of my application. For example, I have a top portion with textboxes and a right click should give me the ability to cut/copy/etc.

However, in a grid area, I would like completely different options, such as `runCommandA` and `runCommandB`

I understand this module can be declared in the `render.js` or the `main.js` side, however I am

[2017-02-11 23:48] esend7881 commented on #30
I wrote a stack overflow question for where I am at now http://stackoverflow.com/q/42148183/1582712

[2017-02-14 10:52] sindresorhus commented on #13
It should instead be a separate menu item called "Save Image As...". https://github.com/sindresorhus/electron-context-menu/issues/14 would be a good fit for such item.

[2017-02-14 10:58] sindresorhus commented on #30
Although a valid use-case, I didn't really consider this use-case when building the module.

The prepend/append options are dynamic so you could check where the menu was right-clicked from (Check the `params` object) and decide what to prepend/append.

[2017-02-14 18:08] esend7881 commented on #30
Hmm, if the prepend/append options are dynamic, how come newly created context menus don't contain prior items in the prepend/append array?

Ultimately, after the context menu is created and goes away, I'd like the memory of that context menu to go away as well.

[2017-02-14 18:31] sindresorhus commented on #30
The function you specify in the prepend/append option is called every time the menu is shown, it's up to you to return the correct thing in that function.

[2017-02-14 20:13] esend7881 commented on #30
Okay -- though the issue is when I right click on my app, multiple context menus come up, one right after the other.

Specifically, here is what happens:

1. I right click on Row-1 and the proper context menu shows up
2. I right click on Row-2 and a repeat of the context menu for Row-1 shows up then Row-2's context menu shows up. (Notice in the screen shot the context menu showing does not corresp

[2017-02-14 20:20] sindresorhus commented on #30
That's because you have multiple menus registered. You shouldn't do that.

I'm gonna close this as this is not a support forum. If you still need more clarifications, maybe someone can help in the Stack Overflow question.

[2017-02-14 20:20] #30 closed

[2017-02-14 20:21] esend7881 commented on #30
How do I de-register a menu then...?

[2017-02-16 11:01] benjaminsuch commented on #29
Try changing `prepend: [{}]` to `prepend: (params, browserWindow) => []`

[2017-02-16 17:59] zackshapiro commented on #29
@benjaminsuch no luck, unfortunately

[2017-02-16 18:51] sindresorhus commented on #29
@zackshapiro Regarding ⬆️, do you have `electron` in your projects filepath?

[2017-02-16 19:08] zackshapiro commented on #29
I do not, no

[2017-02-17 18:50] adi518 opened #31 "Visible does not work"
The default example doesn't work as expected. I can click wherever and the menu would show. It seems it should trigger only if an `img` tag was clicked, correct?

Seems to work great otherwise and much easier to integrate compare to other offerings.

[2017-02-18 06:50] sindresorhus commented on #31
Not entirely clear what you're asking. The menu triggers whenever there are something to show in the menu, meaning whenever you're in an input box or have marked some text or right-clicking an image.

[2017-02-18 13:03] adi518 commented on #31
What does this option do? `visible: params.mediaType === 'image'`. It seems I misunderstand it.

[2017-02-21 17:12] esend7881 commented on #30
Well looks like there were no biters in stack overflow. For some reason, de-registering menu's does not seem like an easy API call.

Can you help direct me on how to de-register a menu? I am creating a context menu here:

[code]
So I could add some function to de-register all previous context menus at the top of that function. I just don't know how.

[2017-02-27 06:24] sindresorhus commented on #29
Try doing some debugging. Last thing I could think of, try removing this line: https://github.com/sindresorhus/electron-context-menu/blob/6705425a1669f9290b2873de8b8e1963c9e50d54/index.js#L115

[2017-02-27 13:35] zackshapiro commented on #29
I've been trying this work weeks, I've done plenty of debugging which is why I posted the issue. Did my requisite research before I posted an issue 

Best,
Zack

On Mon, Feb 27, 2017 at 1:24 AM -0500, "Sindre Sorhus" <notifications@github.com> wrote:

Try doing some debugging. Last thing I could think of, try removing this line: https://github.com/sindresorhus/electron-context-menu/blob/6705425a16

[2017-02-28 14:11] arnellebalane commented on #14
Hi @sindresorhus ! I found myself needing this feature for an Electron app I'm building, so I would like to give it a shot implementing this one. I will base it on your idea above. :smiley:

[2017-03-02 05:14] zackshapiro commented on #29
I'd love help getting this work. It's so simple, I can't imagine what I'm doing wrong. Thanks

[2017-03-14 18:33] sindresorhus commented on #31
That's already explained in the example: `// only show it when right-clicking images`.

[2017-03-14 18:34] adi518 commented on #31
Yes, seemed trivial, but I don't think it was working for me. I'll try again.

[2017-03-23 16:12] rbarros-daitan opened #32 "Function to hide built-in menu options like Save Image, Copy Link, etc."
It would be nice to have an option to hide certain menu options that are built-in by default.

[2017-03-23 16:14] rbarros-daitan opened #33 "Remove existing separators before/after built-in menus"
Remove existing separators before/after built-in menus allowing users to design the menu as needed/wanted.

[2017-03-24 14:22] sindresorhus commented on #33
What do you mean by "built-in menus"? If you mean the default ones in this module, that's already done.

[2017-03-24 14:23] sindresorhus commented on #32
That will be done with https://github.com/sindresorhus/electron-context-menu/issues/14, when someone contributes it or I get around to it.

[2017-03-29 19:06] jimbol opened #34 "Testing"
I'm disinclined to use libraries with tests.  We should add them!

[2017-03-29 19:13] sindresorhus commented on #34
I totally agree, but not sure how to test it. Suggestions and pull requests welcome.

[2017-03-29 19:51] jimbol commented on #34
I think unit tests would get it most of the way covered without too much hassle.  Integration tests with Electron is a different story.

I could set up unit tests with mocha if that would interest you.

[2017-04-01 04:59] sindresorhus commented on #34
Agreed, some unit test for the non-Electron specific behavior would be great. I added some initial test skeleton. There are two possible solutions, either extract the non-Electron functionality out into separate functions and export those for testing, or mock some of the Electron APIs.

A pull request would be very much welcome :)

[2017-04-06 20:21] djalmaaraujo opened #36 "Showing twice when click"
For some reason, the Context Menu is appearing twice after the click:

![](http://g.recordit.co/BYcxrBlVO9.gif)

Electron: v1.6.2

Usage:

[code]

In preload.js (renderer process).

Any ideas?

[2017-04-06 20:25] #36 closed

[2017-04-06 20:25] djalmaaraujo commented on #36
Fixed after moving to main process.

[2017-04-19 06:25] #33 closed

[2017-04-19 06:25] #31 closed

[2017-04-23 18:33] lhongda opened #37 "How to enable webview context menu?"
Hi! I try to use the code follow to enable webview context menu but it not work!
[code]
I guess the key is the this statment ```const WebView = electron.WebView;```, I don't know how where to get the WebView Type.
The result is still just work for BrowserWindow!
so, how can I fix the code to enable that? Thanks !

[2017-04-24 01:40] lhongda commented on #37
I have already fix it.

[2017-04-24 01:41] lhongda commented on #37
Know the problem is how to save canvas when right click, because canvas tag have not url attribute, so how to implement save canvas?

[2017-04-24 03:18] sindresorhus commented on #37
Make sure you're using v0.9.0. It added support for webviews. They should now *just work*.

[2017-04-24 11:01] lhongda commented on #37
I have solve the problem of show context menu in webview, but I still can't resolve the  problem that how to save canvas tag as image by right click.

[2017-04-24 12:26] sindresorhus commented on #37
That is not relevant to this module. Canvas is not an image. You can create your own menu item for that. The default "Save as Image" menu item is for images only.

[2017-04-24 12:26] #37 closed

[2017-04-28 13:19] GeekStocks opened #38 "showInspectElement: false not disabling "Inspect Element""
readme.md states that showInspectElement is a boolean which should...

The following code does NOT disable the Inspect Element menu item:

![inspect-still-on](https://cloud.githubusercontent.com/assets/5877307/25530175/527e1ae4-2bf3-11e7-9da8-25075e94ca33.png)

Environment is Electron on Windows 7.

[2017-04-29 06:45] sindresorhus commented on #38
You have the option in the wrong place.

Should be:

[code]

[2017-04-29 06:45] #38 closed

[2017-04-30 07:13] GeekStocks commented on #38
AHHHH! Thanks - sorry about that. End of day brain. Nice project, works well.

[2017-06-12 17:33] tomthought opened #41 "Context menu is opened two times every time I right click."
- I have added a context menu to my webview element via react.
- I right click (i.e. two-finger click on OSX) a link and the context menu comes up.
- I select an option, or click away, and the context menu pops up again at this secondary location.

Workaround:
I am counting the number of events that come through, and only taking the odd-numbered ones (I return false on even-numbered counts in the

[2017-06-14 21:35] #41 closed

[2017-06-14 21:35] tomthought commented on #41
Found the issue on our end. Apologies.

[2017-06-16 19:32] charandas opened #42 "Crashes if electron.shell is used to open finder without first focussing the electron window"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/42)

Either of the `electron.shell.showItemInFolder` and `electron.shell.openExternal` API once successfully run, lead to a future crash when trying to click the context menu without first focusing on the electron window. Maybe,

[2017-06-27 23:12] jarivo opened #43 "Alter behaviour of default actions/roles e.g. when copying a link"
Hi,

This issue is related to #14, but I think it is appropriate to discuss it separately.

The specific use case for altering the behaviour of the default roles is found in Caprine.
Currently it is impleted that clicking on links removes the tracking bits from the URL.
This is not the case when using the context-menu (e.g. "Copy Link").
Therefore it would be useful to be able to modify the conten

[2017-06-27 23:18] sindresorhus commented on #43
I agree with the problem, do you have any suggestions on how we could solve this?

[2017-06-27 23:22] jarivo commented on #43
With the solution defined in #14, I think a simple callback won't be possible to add a callback to default actions.

I will try and start implementing #14 (in the coming days) and maybe things will become clearer down the road.

[2017-06-27 23:25] sindresorhus commented on #43
@jarivo Sure, it could. We could make `x.COPY` => `x.COPY({transform: url => url.replace()})`, but not sure it's the best solution. Maybe we could have a `hook` function that receives every action and is able to modify it or something.

🤗

[2017-06-27 23:35] jarivo commented on #43
I personally prefer your first suggestion, it is clean and "future-proof" for extra options which might be action-specific. If they want a general hook function they can by adding it as a transform for each of them.

The second suggestion is less work on our side, but I think it would become messy when someone needs to implement custom behaviour for all of them. Sure it is much easier when you wan

[2017-07-02 21:42] jarivo commented on #14
@sindresorhus

As I mentioned in #43, I started working on this issue.
In the current implementation, some options are displayed depending on the context (image, link).
How would we let the user change them? Just like a regular item in the menu property and let the context menu handle whether or not they should be displayed? We could also choose to create a new property to the items for images, li

[2017-07-06 17:42] sindresorhus commented on #14
The item itself decides whether or not it should be visible based on the context.

[2017-07-12 21:29] #29 closed

[2017-07-18 21:17] djalmaaraujo commented on #26
@sindresorhus This is working on 0.9.1 release. Please, double test and close. I was having the same issue and latest release fixes.

[2017-07-21 21:02] djalmaaraujo commented on #11
There's no easy way to integrate https://github.com/electron-userland/electron-spellchecker with this module.

[2017-07-21 21:10] sindresorhus commented on #11
@djalmaaraujo It is possible, it's just that `electron-spellchecker` is not very well documented. You could use: https://github.com/electron-userland/electron-spellchecker/blob/d457b6722b0748a6c2aa23f9a0fdac7d6d296fe0/src/spell-check-handler.js#L471

[2017-07-21 21:23] djalmaaraujo commented on #11
@sindresorhus The docs are very bad indeed. This method you mentioned would check if a word is misspelled, but return the suggestions to this the context-menu, is a different thing. It's not related to this issue anyway. tks

[2017-07-21 21:57] djalmaaraujo commented on #11
@sindresorhus I figured out by using one context menu for all the things (this module) and the other just for spellcheck:

In the `electron-context-menu` config, you can use:
[code]

And on the `electron-spellchecker` you can use:

[code]

Doing this one can exclude the other in the correct context.

@jwheare

[2017-07-21 22:03] djalmaaraujo commented on #11
@sindresorhus With my answer above, I think you can call "built-in support" something that is true. :). I would close this issue.

[2017-07-21 22:07] sindresorhus commented on #11
@djalmaaraujo That's not a proper solution though. I plan on having spell-checking integrated into this context menu.

[2017-07-23 17:20] sindresorhus commented on #26
Confirmed fixed.

[2017-07-23 17:20] #26 closed

[2017-08-05 12:54] BlackGhost3 opened #45 "Callback function when label is clicked"
is there a callback function or something that will fire up when user clicks on certain label ?

[2017-08-05 13:35] sindresorhus commented on #45
No. What's your use-case?

[2017-08-05 20:21] BlackGhost3 commented on #45
I found another way to what i was trying to do, my use-case was when I right-click(contextmenu) in renderer process i wanted a normal context menu and when i click a label it should call a function

[2017-08-09 21:02] daveseco7 commented on #20
I can give this a try if it is ok with everyone.

[2017-08-10 00:32] sindresorhus commented on #20
@daveseco7 Make sure you see the review comments in https://github.com/sindresorhus/electron-context-menu/pull/21 and https://github.com/sindresorhus/electron-context-menu/pull/39.

[2017-08-21 09:41] rkpatel33 opened #47 "Not seeing context menu even though defaults selected"
I am not seeing the context menu rendered even though I am using simple settings. Am I missing something here?  I am mainly interested in getting the inspect element menu item.

My code is below:

[code]

[2017-10-13 08:50] angrykoala opened #49 "Different items depending the element clicked"
Is it possible to modify the elements on the menu depending on the element clicked, for example, depending on the class or id?

In my case, I have certain boxes that should display a different context menu that other elements, I tried tinkering with the prepend callback but it doesn't provide any information about the clicked element.

[2017-10-26 18:51] snene commented on #11
@djalmaaraujo Were you actually able to use both electron-context-menu and electron-spellchecker together and display the correct context menu using the solution you mentioned? I tried that and I am not able to.

When I right click on the misspelled word then first I get the application context menu and then I have to click again to get the spell checker context menu. Any help or pointers?

[2017-10-27 13:44] djalmaaraujo commented on #11
@snene I used both, if I click on the text, I get the suggestions and IGNORE the next context-menu, so I don't end up having 2.

[code]

This will prevent `electron-context-menu` from opening the context-menu.

[2017-10-27 16:35] snene commented on #11
Thanks @djalmaaraujo ! It worked for me too. It's a great workaround. I just needed to get the latest version of electron-context-menu. Thanks again!

[2018-02-05 12:58] deepankersingh96 opened #51 "Always on top, transparent and setIgnoreMouseEvents browserWindow hides behind menus of other apps"
I am trying to create a browserWindow using the following options:
`mainWindow = new BrowserWindow({width: 800, height: 600, frame:false , transparent:true, fullscreen:true, alwaysOnTop:true})`

Also making the browserWindow not to capture mouse clicks by using the following:
`mainWindow.setIgnoreMouseEvents(true);`

The browserWindow is always on top of other apps except when the menu of the back

[2018-02-20 01:22] brunogoossens opened #52 "Change selected text"
Is it possible to change the selected text when opening and clicking the context menu?

This is my code

[code]

[2018-06-18 07:11] jrobeson commented on #47
Is it solved by this? https://github.com/sindresorhus/electron-context-menu/pull/50

[2018-06-19 16:56] #20 closed

[2018-06-19 17:12] sindresorhus commented on #51
Can you please elaborate? How is this related to this module?

[2018-06-19 18:32] deepankersingh96 commented on #51
This was related to rendering of menus (File menu, etc.) of other apps on top of my browserWindow (which was transparent, alwaysOnTop and setIgnoreMouseEvents). I got the explanation behind it. As the menu items of other apps were rendered after my browserWindow was declared so they appear above my browserWindow (although I declared it to be alwaysOnTop).

[2018-06-25 00:34] JieJiSS commented on #3
It's here now https://github.com/electron/electron/blob/master/docs/api/web-contents.md#contentsshowdefinitionforselection-macos

[2018-08-12 22:05] TheGoddessInari opened #56 "electron-context-menu incompatible with electron 2.0.x?"
I've tried it a number of times with a electron 2.0.x webview and no context menu appears.
Works fine with electron 1.8.x.
Totally default, no customization.

[2018-09-12 07:37] EddieOne commented on #56
working fine for me in 2.x

[2018-09-24 23:02] hguiney opened #57 "Way to disable the label?"
Right now I don’t have a need for the label. However if I set the `label` property in `prepend` to `null` or `undefined`, it just generates a blank label. Is there a way to disable it so the context menu just says Cut, Copy, Paste, and Inspect Element?

[2018-09-25 02:01] zhangqiwangwei commented on #37
How to solve this problem?

[2018-10-12 08:29] pureZjr opened #59 "Add `Save Image As…` menu item"
hello，i use save picture function，but i want to choice folder，can u provide an option to config  this part , this download function's third  parameter， thank you

[code]

[2018-10-13 16:33] sindresorhus commented on #59
That should be a separate menu item called `Save Image As…`. Can be an option called `showSaveImageAs` and should be `false` by default.

[2018-10-16 16:39] sindresorhus commented on #57
I don't understand why you're trying to create an element without a label? What's the purpose?

[2018-10-17 00:04] hguiney commented on #57
What do you mean? I just want to add Cut, Copy, Paste, and Inspect Element to my Electron app. If I right/ctrl-click in most native apps, there is no label for that set of actions. For instance in TextEdit it just immediately shows you Cut, Copy, and Paste, followed by two more sections:

![](https://i.imgur.com/JDSYouV.png)

Conversely, I don’t understand why a label would be mandatory for this.

[2018-10-24 23:38] jfrux commented on #56
Okay then does the Usage instructions work with 2.x?

[2018-10-25 00:20] EddieOne commented on #56
The usage example it kind of dumb because it only shows a label when right clicking an image. Here's a better one.

[code]

[2018-10-27 18:53] #56 closed

[2018-10-28 05:28] #59 closed

[2018-10-28 05:35] sindresorhus commented on #13
Fixed by https://github.com/sindresorhus/electron-context-menu/commit/eaad64400c268d6fb746f17397569f56778a877e.

[2018-10-28 05:35] #13 closed

[2018-10-28 05:38] sindresorhus commented on #57
You can use the `visible` property to set whether it should show or not.

[2018-11-13 09:04] robxxxx commented on #37
Can you tell us how did you apply context menu inside webview?

[2019-02-19 21:55] JoniVR commented on #14
Is anyone still working on this?
I think this would be required for https://github.com/sindresorhus/caprine/issues/248.

I try implementing it if not? Is there already a consensus on how it would be best solved?

[2019-02-21 12:44] sindresorhus commented on #14
@JoniVR https://github.com/sindresorhus/electron-context-menu/pull/44 You could help  out by reviewing that one (and maybe also help fixing the merge conflicts if you have the time).

[2019-02-21 14:25] JoniVR commented on #14
@sindresorhus Sure 👍🏻

[2019-02-21 20:01] JoniVR commented on #14
@sindresorhus
Quick question, how would one help fixing the merge conflicts?
Just submit a PR on his fork I'm guessing since I don't have write permissions?

[2019-03-15 08:11] iwen-pengh opened #63 "Right click to copy the picture how to do"
Right click to copy the picture how to do

[2019-03-15 10:08] sindresorhus commented on #63
I'm not sure what you're asking. Please spend some more effort on your question.

[2019-03-25 09:04] iwen-pengh commented on #63
右键复制图片 怎么做？ 懂了吗

[2019-04-03 11:43] von7750 commented on #63
Right click to copy the picture to clipboard, i guess, like chrome "cpoy image"

[2019-04-09 08:52] #14 closed

[2019-04-09 08:52] #43 closed

[2019-04-09 09:39] #63 closed

[2019-04-09 09:40] #57 closed

[2019-04-09 09:40] sindresorhus commented on #32
Fixed by #44.

[2019-04-09 09:40] #32 closed

[2019-04-09 09:43] #45 closed

[2019-04-09 09:51] sindresorhus commented on #52
More of a general Electron question, but here you go: https://github.com/electron/electron/blob/master/docs/api/web-contents.md#contentsreplacetext

[2019-04-09 09:51] #52 closed

[2019-04-09 09:54] sindresorhus commented on #49
You can now (soon) also use the `menu` option to completely customize the menu however you want.

[2019-04-09 09:55] sindresorhus commented on #49
That's not correct. The first argument passed to `prepend` is a `params` object with that information. See the first example in the readme.

[2019-04-09 09:55] #49 closed

[2019-04-09 10:00] sindresorhus commented on #47
Don't know what's wrong, but look at https://github.com/sindresorhus/electron-context-menu/blob/master/fixture.js which proves that it works fine.

[2019-04-09 10:00] #47 closed

[2019-04-09 10:05] sindresorhus commented on #42
Can you share some code that reproduces the issue? Could simply be a modified version of `fixture.js`.

[2019-04-21 10:46] eyalap commented on #17
@sindresorhus Can you post an example of passing the reference please.
The docs are very minimal with actual usage examples.
Also, The webview I have in my app is created conditionally and isn't always there

[2019-04-21 21:20] eyalap opened #65 "doesn't show in webview"
Using the latest version.
I am able to see the context menu in BrowserWindow however I dynamically render <webview> when needed using a react app and don't see the context menu.
I don't pass anything in the window option so according to the documentation it should be visible in the webview by default but isn't.

If I need to pass webview reference I'd like an example if possible, I don't understan

[2019-04-22 17:50] Polunom commented on #17
@eyalap
Say you have a webview like
[code]

You can initialize the context menu using:
[code]

[2019-04-25 10:34] agata commented on #65
I found work around for this issue. Please use 'web-contents-created' event and window option.

[code]

[2019-04-28 07:08] eyalap commented on #65
Thanks @agata this workaround works !
@sindresorhus I'm closing this issue, but I do think it will work much better if it would be supported out of the box instead of a workaround like this.

[2019-04-28 07:08] #65 closed

[2019-04-28 07:09] eyalap commented on #17
Thanks @Polunom , I didn't want to query the DOM from the main process every time I render a new webview.
In any case I used the workaround I was given in https://github.com/sindresorhus/electron-context-menu/issues/65

[2019-04-30 18:27] Rudedog9d opened #68 "showInspectElement: false Causes unhandled exception"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/68/badge.svg" />](https://issuehunt.io/r/sindresorhus/electron-context-menu/issues/68)

Using the library in a global context with the following options causes an unhandled exception with every right click:

[code]

This causes the context menu to not show up at all.

Windows 10 x64
using yarn
electr

[2019-04-30 18:58] Rudedog9d commented on #68
Also tested on electron-context-menu@0.12.1

[2019-05-03 14:26] medusalix commented on #68
I'm working on a fix 😃.

[2019-05-09 16:25] fabiospampinato opened #70 "Omitting default actions if already provided"
I'm defining a custom "Copy" action, which does something a bit different than the default "Copy" action, to some buttons, but on right click the content of the button gets selected (and I can't make them unselectable) and so the menu displays 2 "Copy" actions, the one I defined and the one this library defines:

<img width="233" alt="Screen Shot 2019-05-09 at 18 14 34" src="https://user-images.gi

[2019-05-25 05:01] sindresorhus commented on #70
Makes sense, but should be based on `id`, not the label. I don't think we need an option for it. Should the replaced item take the original position or be added to the start/end depending on whether prepend/append was used? I'm leaning towards the latter.

We currently have a `shouldShowMenu` option, so it could also maybe be useful with one for menu items called `shouldShowMenuItem`? In case you

[2019-05-25 12:32] fabiospampinato commented on #70
Maybe if no id is explicitly provided but the label is the same as a default menu item that default menu item should still be omitted? I just can't imagine a scenario where one would want 2 "Copy" menu items like shown in the screenshot.

I'd say the latter too.

Maybe, I'm currently updating the menus inside `shouldShowMenu` before showing them ([ref](https://github.com/fabiospampinato/notable-pr

[2019-05-26 20:06] caesar opened #72 "Add support for macOS Services submenu"
Native context menus on macOS have a “Services” submenu to which other apps on the system can add actions.

I think this should be fairly trivial to implement using the `services` [role](https://github.com/electron/electron/blob/master/docs/api/menu-item.md#roles) from Electron's menu API.
I'll give it a go later and submit a PR.

Example from Safari:

<img width="537" alt="Screenshot 2019-05-26 a

[2019-05-28 16:16] caesar commented on #3
I should note that in the PR referenced above I chose to enable this menu item by default on macOS, with an option to disable it, because I think *the default should be as much like the default native menus on each platform as possible*.

However, I suppose that adding a new menu item which is enabled by default is a semver-major change. So either:
- This shouldn't be introduced until the next sem

[2019-05-28 16:17] caesar commented on #72
As with #3, I should note that in the PR referenced above I chose to enable this menu item by default on macOS, with an option to disable it, because I think *the default should be as much like the default native menus on each platform as possible*.

However, I suppose that adding a new menu item which is enabled by default is a semver-major change. So either:
- This shouldn't be introduced until

[2019-05-29 13:09] #68 closed

[2019-05-29 13:12] sindresorhus commented on #72
I absolutely agree. We can do a breaking change. It's fine.

[2019-05-29 13:31] sindresorhus commented on #70
The reason I want to base it on `id` is that menu items could be localized and that could create ambiguity. It's just easier to reason about if it's only based on the `id`.

:+1: That actually sounds more useful and flexible than my `shouldShowMenuItem` idea.

[2019-05-29 15:18] sindresorhus commented on #70
I was referring to depending on overriding the "Copy" item here, then localizing and suddenly the override stops working as the labels no longer match.

[2019-05-29 15:28] fabiospampinato commented on #70
Yeah yeah, but one would want to localize this library too and assuming both instances of "Copy" get localized to the same string (but languages are complicated, maybe this assumption can't be made) the override would still work.

[2019-05-29 15:31] sindresorhus commented on #70
It would be weird to have to translate the menu item here when you don't use it and instead override it with your. These are many reasons why as stable ID is better.

[2019-05-30 04:40] #3 closed

[2019-05-30 04:53] sindresorhus opened #74 "Add `Inspect Element` menu item"
Should be above `Services`.

<img width="212" alt="Screen Shot 2019-05-30 at 11 52 29" src="https://user-images.githubusercontent.com/170270/58609337-6bcec700-82d1-11e9-850f-c498ec6c1f27.png">

[2019-05-31 18:59] caesar commented on #42
I can't reproduce this.
I tried with the following code:
[code]
And also with `shell.showItemInFolder(fullPath)`.
I can't make the app crash whatever I do.

Since it's been two years, no further reports, and the original reporter can't provide any more information, perhaps this should be closed?

[2019-06-03 06:24] #72 closed

[2019-06-05 07:30] madprops opened #77 "Creating a context menu makes webview.findInPage() fail"
I'm not sure if I'm doing wrong, but when I add:

[code]

When creating a webview. The findInPage function doesn't work at all.

I created a testing repo for this https://github.com/madprops/webview-test-for-debugging

[2019-06-05 21:43] fabiospampinato opened #78 "Improve performance"
I've been profiling an app of mine and I've found that this library keeps the app busy considerably more than it should, the cause of that is that by using the `remote` module many times many _synchronous_ IPC calls are sent to the main process and back, and while that's occurring everything stops in the renderer process basically.

My use case is basically creating a few context menus from the re

[2019-06-07 10:55] jvaes commented on #68
Any Idea when there will we an updated npm package with this Fix? I have to update the code manually  on each npm install at the moment.

Thnx!

[2019-06-09 07:36] sindresorhus commented on #78
Thanks for opening this issue.

It's really sad how slow the Electron IPC still is. You should definitely open an issue about that. The IPC is useless if we can't actually use it.

---

1. Yes, a note in the readme could be useful, although, I would much prefer to find a way to fix the performance problem. Are you calling `electronContextMenu()` multiple times? I think maybe my `.asyncRemote` idea

[2019-06-09 13:21] fabiospampinato commented on #78
Actually sending messages like so:

[code]

is pretty insignificant performance-wise, at least in Electron v5. I think the issue comes when passing large objects via IPC, maybe there's a big serialization overhead or something.

If I'm understanding the situation correctly the main bottleneck comes from passing large things via IPC, currently when using this library in the renderer process the fol

[2019-06-09 13:26] fabiospampinato commented on #78
I forgot to comment on this.

It sounds interesting, but if I'm understanding Electron's architecture correctly whenever the main process is busy the renderer process is frozen basically, so even if we `await` the response on the renderer process as long as the work is done synchronously in the main process there are no benefits.

Another option might be some kind of lazy evaluation of `remote` ca

[2019-06-13 07:12] janat08 commented on #11
So the original plan stands, detect if spell checker is loaded, and then show one or other?

[2019-06-13 23:50] fabiospampinato commented on #78
Hey, sorry but I won't submit a PR for this, I've ended up rewriting the whole thing to better suit my use case, eventually I'll publish it as a standalone library too (links to the actual code below though).

I've tried sending the whole menu template to the main process, but functions can't be sent via the IPC channel because they can't be serialized properly (the closure will be lost I guess).

[2019-06-16 17:15] fabiospampinato commented on #78
@sindresorhus FYI I just stumbled upon [electron-remote](https://github.com/electron-userland/electron-remote), which kind of implements an asynchronous version of `remote`.

[2019-06-25 22:25] whitecrownclown commented on #77
@madprops

Your webview isn't attached to the dom, as you can see in the console.
<img width="535" alt="Screenshot 2019-06-26 at 01 23 32" src="https://user-images.githubusercontent.com/8309417/60137922-25c23180-97b1-11e9-893c-0f266b59b173.png">

I've forked your repo here for a working sample:
https://github.com/whitecrownclown/webview-test-for-debugging.

Also: https://github.com/sindresorhus/el

[2019-06-26 04:28] #77 closed

[2019-07-22 16:57] b3u commented on #49
@fabiospampinato how do you get the document from the main process?

[2019-07-22 17:03] fabiospampinato commented on #49
@b3u I don't, I run most of the logic in the renderer process. I'm not sure you can actually get the DOM node in the main process as that's probably not serializable I guess.

[2019-08-06 15:30] laurinneff opened #80 "Unable to get it to work on Electron 6.0.0"
I installed this in my app, created a basic context menu with `contextMenu({window: MainWindow})`, right clicked in my app, but no context menu appeared. I tried in both the main and renderer process. I even tried cloning electron-quick-start and trying it there, but still nothing.
OS: Windows 10 x64 1903 (build 18362.239)
Electron: 6.0.0

[2019-08-06 15:50] laurinneff commented on #80
I looked at this in the debugger and it seems like https://github.com/sindresorhus/electron-context-menu/blob/bf760be3996d84e8659f93b3603b1ae28c354409/index.js#L191 removes all menu items

[2019-08-06 16:14] laurinneff commented on #80
I figured out that these options make it work, but it should work even when I don't want all features enabled
[code]

[2019-08-06 16:17] laurinneff commented on #80
I tried out some more things, and figured out that all options need to be specified, but not all have to be true. This should be stated somewhere

[2019-08-06 16:31] laurinneff commented on #80
Looks like I was just stupid, if I don't have the options specified it doesn't have any items to display unless I'm clicking a selection or link and I just clicked the blank area of the page

[2019-08-06 16:31] #80 closed

[2019-08-07 21:51] Dvlnst opened #81 "SaveImage doesn't exit in type labels"
Hi,

How would it be possible to override SaveImage label?

Kind regards.

[2019-08-08 20:45] #81 closed

[2019-08-08 21:05] Dvlnst commented on #81
Thank you.

[2019-09-04 04:35] panjiang opened #82 "Returns dispose function"
Returns dispose function for removeListener('context-menu', *), in my case of using HMR(Hot Module Replacement). Avoid registering multi-times.

https://github.com/panjiang/electron-context-menu/commit/e411dbbce746460d546e34a906c799b90c0a9d37

[2019-09-17 07:02] 617450941 opened #83 "How to hide the default context menu for a blank area"
How to hide the default context menu for a blank area

[2019-10-19 08:26] loopmode opened #84 "Multiple invocations, destroy function?"
Hi.
I intend to use a react hook for creating context menus "on the fly" in the renderer process, for particular DOM elements.
The current implementation is [here](https://gist.github.com/loopmode/81b71f96bebe22697f8c2ee22fa12cf8) and the usage is something like this:
[code]

The hook effectively calls `contextMenu()` whenever the component is mounted to the DOM. Many components may do this many t

[2019-10-19 11:23] fabiospampinato commented on #84
It doesn't look like this library is storing menu templates indefinitely, I'm not sure about the Electron side of things but I don't think I've read anything in the docs about menus disposal.

You may want to test this yourself by showing a few hundreds menus or something and see via the devtools if more and more object remain allocated in memory.

[2019-10-27 20:21] KorbsStudio commented on #37
I am still not understanding how to get this to work

[2019-10-30 20:35] jennifer-shehane opened #86 "showInspectElement set to true - showing as disabled in 0.12.0"
Our applications calls into `electron-context-menu` in order to show 1 `Inspect Element` menu. Simplified it is doing this (coffeescript):

[code]

The complete code in our project is here: https://github.com/cypress-io/cypress/blob/renovate/electron-context-menu-0.x/packages/server/lib/gui/windows.coffee#L150

This menu is working in version 0.11.0 of `electron-context-menu`, but showing up as di

[2019-11-08 18:22] sindresorhus commented on #86
Fixed in https://github.com/sindresorhus/electron-context-menu/releases/tag/v0.15.1

[2019-11-08 18:22] #86 closed

[2019-11-12 05:00] zhaobingss opened #88 "use electron-context-menu cause webview devTools not inspect"
* Output of `node_modules/.bin/electron --`: 4.2.12
* Operating System (Platform and Version): win10 64bit
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 4.2.12

**Expected Behavior**
When active the insect button, and the mouse hover the webview inside html element it should highlight the elemrnt.

**Actual behavior**
Noting happen.

**T

[2019-11-12 05:10] zhaobingss commented on #88
I got it, I should use like this below
[code]
tks for the awsome work!

[2019-11-12 05:10] #88 closed

[2019-12-02 06:56] jennifer-shehane commented on #86
Thanks! This did resolve our issue.

[2019-12-18 02:26] wpsumsun opened #89 "how to keep text selection on right menu click"
when I open right menu，the text selection will lost。

[2019-12-18 07:41] #89 closed

[2020-01-02 03:05] whatbotisthis opened #91 "Typescript errors in example code from readme"
Looks like prepend may need to change from `MenuItem[]` to `MenuItemConstructorOptions[]`?

https://github.com/sindresorhus/electron-context-menu/blob/master/index.d.ts#L109

This change seems to clear up the TS errors regarding missing properties like `checked, commandId, enabled, etc`.

[2020-01-02 12:43] #91 closed

[2020-01-22 23:10] Slapbox opened #92 "Copy/paste loses all formatting data"
Is there any way around this? Electron-spellchecker doesn't have this issue, but it has other issues that have us looking to move to electron-context-menu.

[2020-02-01 09:21] sindresorhus commented on #82
Sure, PR welcome :)

[2020-02-01 09:22] sindresorhus commented on #84
See https://github.com/sindresorhus/electron-context-menu/issues/82

[2020-02-01 09:23] sindresorhus commented on #83
You should not do that. That's creates an inconsistent user experience. The user expects something to show when right-clicking if it shows in other places. Showing a right-click menu with just disabled items is totally fine and the correct behavior.

[2020-02-01 09:23] #83 closed

[2020-02-01 09:31] #92 closed

[2020-02-01 09:31] sindresorhus commented on #92
https://github.com/sindresorhus/electron-context-menu/releases/tag/v0.16.0 :)

[2020-02-05 08:44] sindresorhus commented on #11
This should be easier to implement in Electron 8. There's now a `spellcheck` option in BrowserWindow (which indicates misspelled words with a red squiggly line) and https://github.com/electron/electron/pull/20897/files#diff-9b078be8f43e00e3b99edb5be31fa353R573 to get the suggested replacements.

Here's how it should look:

<img width="282" alt="Screenshot 2020-02-05 at 15 43 48" src="https://user-

[2020-02-05 13:18] djalmaaraujo commented on #11
@buzinas @philfreo ☝️

[2020-02-19 19:38] LDubya opened #96 "Ignores browserWindow `frame : false` in packaged build"
Hi there,

We have set the browserWindow frame to be 'false' in our app, and use our own custom frame. (Looks sleeker than the default).

We'd like to use your extension, but when the app is built and packaged with `const contextMenu = require('electron-context-menu')`, this extension causes the browserWindow's frame to be present.

Is there a setting to ensure this extension respects our frame se

[2020-02-19 19:51] LDubya commented on #96
Looks like it also prevents the creation of a new second browserWindow when a current browserWindow exists

[2020-02-21 14:29] d43m0nhLInt3r opened #97 "Save Image dont work"
When i try to save an image nothing happens. The log shows this: (electron) 'setBadgeCount function' is deprecated and will be removed. Please use 'badgeCount property' instead.

[2020-02-24 09:19] amwtxgt opened #98 "Error at <webview> using "save image""
`contextMenu({
	window:document.getElementById('webview'),
	showCopyImage:true,
	showSaveImageAs:true,
	showCopyImageAddress:true,
})`

`Uncaught (in promise) TypeError: Cannot read property 'session' of undefined
    at index.js:138
    at new Promise (<anonymous>)
    at module.exports../node_modules/electron-dl/index.js.module.exports.download (index.js:135)
    at click (index.js:109)
    at C

[2020-02-28 14:21] tidg opened #99 "Deprecated getWebContents() method"
Hi,
In the latest version of Electron v8.0.2, we notice webview.getWebContents()' is deprecated and will be removed. Please use 'remote.webContents.fromId(webview.getWebContentsId())' instead.

Is it possible to update
`const webContents = win => win.webContents || (win.getWebContents && win.getWebContents());`
to something like this to prevent this warning from causing a problem on the plugin in

[2020-03-21 11:00] Prinzhorn commented on #99
FYI `remote` will be deprecated as well https://github.com/electron/electron/issues/21408

[2020-03-23 17:16] SterlingChin commented on #11
Watching this issue

[2020-04-14 07:07] #11 closed

[2020-04-14 07:10] sindresorhus commented on #98
Help welcome. I don't use `<webview>` :)

[2020-04-14 07:12] sindresorhus commented on #96
This package doesn't modify BrowserWindow in any way. This sounds more like an Electron bug.

[2020-04-16 23:03] eengoron opened #101 "Clarifying the purpose of correctAutomatically"
Hey @sindresorhus --

First, I just wanted to say thank you for getting spellcheck merged. This is awesome!

I'm currently updating my application to use native spellcheck, and I had a quick question about the `correctAutomatically` menuitem.

How is this item supposed to be used? From https://github.com/sindresorhus/electron-context-menu/blob/1286195e005d3b7d59371d684d8c619d9f39a9f7/index.js#L44-

[2020-04-26 04:09] yourfavorite commented on #49
Regarding the example code above, is using x/y coords and filtering by selector the best way to go about determining if a specific element was right clicked on? This feels a little brittle to me but maybe its fine and I'm being overly paranoid?

[2020-04-26 04:50] loopmode commented on #49
Here's a Gist of how I did it without this library in one react app: https://gist.github.com/loopmode/f1760d6562d9fa04ff73b64d0fe25651

Basically, I needed different context menus per component, so I made a hook and I pass a reference to the DOM element into the hook. Inside the hook, when handling the context menu event, I check if the event.target is either the DOM element I expect, or a child o

[2020-04-26 04:53] yourfavorite commented on #49
Thanks @loopmode this is great. Regarding the performance comment in I saw in your other gist. Do you think there will be much of a performance hit if you have say 100 elements with unique context menus?

[2020-04-26 06:09] loopmode commented on #49
I don't think so - basically it's just a bunch of plain object and event listeners.
The app where I used the approach from the gist uses the menu hook in three places: once in the root (this menu stays always atatched), and then in two list pages you can navigate to.
On the list pages I've had dozens of rows (not hundreds tho), and each uses the hook. I didn't notice any performance hits so far.
I

[2020-04-26 10:02] fabiospampinato commented on #49
There are pros and cons I think.

Regarding the use of coordinates that's how this thing fundamentally works, listing on the "contextmenu" doesn't really work any differently, you're just letting the browser/os/whatever handle the coordinates for you. There's a bug in my code above though, the x and y coordinates should be scaled by the zoom factor, which is `window.outerWidth / window.innerWidth`

[2020-04-27 10:38] #82 closed

[2020-04-27 10:38] #84 closed

[2020-04-27 14:47] #101 closed

[2020-04-27 14:50] sindresorhus commented on #101
You're right. It's not very useful. It should not have been added. I missed how it worked when reviewing the PR. The PR that added the spellchecking was pretty sloppy, so I'm not surprised I missed something.

See: https://github.com/sindresorhus/electron-context-menu/releases/tag/v2.0.0

[2020-04-28 03:17] eengoron commented on #101
Thanks @sindresorhus!

[2020-04-28 14:55] amanharwara opened #102 "Is there a way to get the input element when clicked?"
I want to add certain text into a textbox when the user clicks an item in the context menu. For this, it will be necessary to get the textbox element itself when clicked. Is this possible somehow?

[2020-04-28 18:45] sindresorhus commented on #102
The menu options (`menu`/`append`/`prepend`) include the `params` object, which contain `x`/`y` positions, which you could pass to `document.elementFromPoint(x, y);`, to get the element.

[2020-04-28 19:00] amanharwara commented on #102
Thanks, that works.

[2020-04-28 19:10] amanharwara commented on #102
Turns out it doesn't quite work as intended. The `x` and `y` co-ordinates seem to be where the user clicked the menu item, not the element.

[2020-05-03 08:16] sindresorhus commented on #102
Then I don't know. You could try opening a feature request on https://github.com/electron/electron to include the DOM element in the `params` object.

[2020-05-03 13:50] maziyank opened #103 "the context menu when no dictionary suggestions"
Hi,
I just installed version 2.0.0
my problem occurred when a correct text was selected (not misspelled), the context menu in my application goes like this

![electroncontextmenuspell](https://user-images.githubusercontent.com/3317904/80915901-6995a800-8d7f-11ea-82b1-034722b9c204.png)

Probably when there is no dictionary suggestion, the separator between dictionary suggestion should not exist

[2020-05-03 18:20] sindresorhus commented on #103
// @nautatva

[2020-05-04 18:09] nautatva commented on #103
Check if this commit solves the issue.

[2020-05-04 22:10] maziyank commented on #103
thanks @nautatva

[2020-05-05 05:46] maziyank commented on #103
when there were no suggestions I print the menu item in the console. It goes like this.

`  [... {
    id: 'learnSpelling',
    label: 'Learn Spelling',
    visible: '',
    click: [Function: click]
  },{
    id: 'dictionarySuggestions',
    label: 'No Guesses Found',
    visible: '',
    enabled: false
  }..],
`

I think this can be solved by fixing **removeUnusedMenuItems** func.
`return menuTem

[2020-05-06 18:11] sergeyd63 commented on #37
love those comments

@Anderson-Liu can you tell us how you fixed it?
my context menu doen't work in webview

[2020-05-07 07:57] amanharwara commented on #102
Alright, I'll do that. Thanks for replying. I'll close the issue.

[2020-05-07 07:57] #102 closed

[2020-05-07 22:02] Slapbox commented on #98
The Electron team also recommends against using `<webview />`. Not super helpful for resolution I know, but in case anyone comes across this and was unaware of that fact.

[2020-05-07 22:05] Slapbox opened #105 "Menu no longer appears when right clicking images after upgrading from 0.16.0"
Hey @sindresorhus, great work! I was surprised when I upgraded to `1.0.0` and everything seemed to work as intended without any changes. As a result I'm not entirely sure where this issue got introduced since we're on `2.0.0` now. I just noticed this yesterday.

I'm not sure if it's related to our implementation. We're building a custom menu like:

[code]

Every other option works as intended, but

[2020-05-07 22:06] Slapbox commented on #96
There are definitely not `electron-context-menu` bugs unless it's implementation dependent. Neither of the mentioned issues affect us in a multi-window, frameless application.

[2020-05-08 08:24] sindresorhus commented on #105
// @nautatva @loopmode

[2020-05-08 22:35] nautatva commented on #105
This works perfectly fine in `fixture.js`:
[code]

Did I get you correctly? Is this the way you wanted to implement the code?

[2020-05-08 23:54] Slapbox commented on #105
@nautatva that's more or less what we're doing, but we're building our own menus. The parent function that calls `getDefaultMenu` looks something like this:

[code]

In this case we're not passing `showSaveImageAs: true` because we're passing our own `menu` entirely.

This bit from the docs is still correct, right?

[2020-05-10 18:18] Slapbox commented on #105
Not an electron-context-menu issue - my apologies. I still have no idea what it could be, but I've ruled this. Apologies I wasn't able to sooner, changing dependencies for our monorepo is, unfortunately, a nearly half hour task.

[2020-05-10 18:18] #105 closed

[2020-05-11 13:44] #103 closed

[2020-05-14 01:42] michaelkofron commented on #37
@sergeyd63 Recently struggling with this problem and would like to know as well. With @Anderson-Liu would have mentioned how he got this to work. I've tried to connect a context menu to a webview in every way imaginable and no good results so far ;(

[2020-05-14 14:03] sergeyd63 commented on #37
@michaelkofron i found a solution and didn't post it here... (i hate it when people do that 🤦‍♀️  )

`app.on("web-contents-created", (e, contents) => {
    if (contents.getType() == "webview") {
      // set context menu in webview
      contextMenu({
        window: contents,
      });
    }
  });`

that did the trick for me

[2020-05-14 15:51] michaelkofron commented on #37
@sergeyd63 Wow! So simple! I hope others struggling with this problem come across your amazing solution. Thank you!

[2020-06-04 07:50] anantgulia commented on #37
Anybody still looking for the solution check @sergeyd63 's answer ^ it's working

[2020-06-08 23:36] br0nstein commented on #99
Sounds like this library is incompatible with Electron 9 then. Electron 9 removed the getWebContents API that was deprecated in Electron 8. https://www.electronjs.org/blog/electron-9-0

[2020-06-10 22:48] iwiedenm commented on #99
This package is now broken on Electron 9.x.x because of this error it seems.

[2020-06-23 19:02] rer145 opened #108 "showSaveImage option is ignored"
When setting showSaveImage to false, the context menu still shows that option no matter what.

`contextMenu({
	showCopyImage: true,
	showCopyImageAddress: false,
	showSaveImage: false,
	showSaveImageAs: true
});`

This results in "Save Image", "Save Image As", and "Copy Image" all appearing in the menu. In this instance, I am only looking for "Save Image As" and "Copy Image", since "Save Image" in

[2020-06-27 13:03] sindresorhus commented on #108
I just tried and worked for me. Sounds like you're on an old version. This was added a while ago: https://github.com/sindresorhus/electron-context-menu/commit/2f1bae0f773330264d31c77e6616f9f720d03779

[2020-06-27 13:03] #108 closed

[2020-06-29 15:03] IProudNoob opened #110 "How to show a menu only on a specific li > class?"
Hello!!!
I have **ul>li** list and I wanted to show the menu only **li>class** and get **id li element**?

THX!!!

[2020-06-29 17:44] sindresorhus commented on #110
Duplicate of https://github.com/sindresorhus/electron-context-menu/issues/102

[2020-06-29 17:44] #110 closed

[2020-06-29 17:44] sindresorhus commented on #110
Not possible at the moment. Open an Electron issue.

[2020-06-30 04:49] IProudNoob commented on #102
It's not work

[2020-07-06 17:02] sindresorhus commented on #99
https://github.com/sindresorhus/electron-context-menu/commit/a539dc42277f166e977cbd58fac9e9381770ab8e

[2020-07-06 17:02] #99 closed

[2020-07-12 19:31] palmtreefrb opened #112 "Added context menu"
????

[2020-07-12 19:37] #112 closed

[2020-07-23 07:58] zotovY opened #113 "Is there is a way to style it?"
Hi. Is it possible to style this menu? For example, did i made a rounded corners on windows to make it looks like macos context menu? Or maybe add backdrop blur filter? Thanks

[2020-07-23 09:38] sindresorhus commented on #113
This uses the native menus. There are no need or reasons to style it.

[2020-07-23 09:38] #113 closed

[2020-07-26 21:23] macdevign opened #114 "Add submenu support"
Hi,
is it possible to have submenu ?
Can this be added if it yet to be supported ?

[2020-07-27 17:28] sindresorhus commented on #114
You can add menu items yourself by either prepending or appending. A menu item can have a submenu. This is all in the docs.

[2020-07-27 17:28] #114 closed

[2020-09-01 17:36] alex-drocks opened #117 "Electron v10 - Uncaught TypeError: Cannot read property 'app' of undefined"
I just updated to Electron 10.1.1 and I got this new error which did not happen prior to v10.
It's probably due to the remote module deprecation.

    at Object.<anonymous> (C:\Users\Alex\Desktop\local-dev-tests\fd-app\node_modules\electron-is-dev\index.js:8)
    at Object.<anonymous> (C:\Users\Alex\Desktop\local-dev-tests\fd-app\node_modules\electron-is-dev\index.js:15)
    at Module._compile (in

[2020-09-03 23:10] steveseguin commented on #42
Chiming in, I have a similar issue as this.  Error gets raised when I click on the context menu without the main window being active first.

example code/app:
https://github.com/steveseguin/electroncapture/blob/master/main.js#L127

It works fine on Windows, but on macOS it does not seem like right-clicking on the electron window gives it an active state.  I need to left-click the window first, giv

[2020-09-14 09:21] greggman opened #118 "Missing Select All?"
If I right click in the browser I get a select all option but I don't here. Should that be a standard feature like copy and paste are?

![nhiaV3s0NM](https://user-images.githubusercontent.com/234804/93068066-f863eb00-f6b6-11ea-8fc2-8295b6c87f55.png)

[2020-09-18 22:28] sindresorhus commented on #118
I target the Safari context menu, not the Chrome one:

<img width="268" alt="Screen Shot 2020-09-19 at 00 26 51" src="https://user-images.githubusercontent.com/170270/93650456-d2b84800-fa0e-11ea-8146-e46a5280371f.png">

I don't find "select all" very useful as you can just tripple-click in those rare situations you need it.

[2020-09-19 23:25] greggman commented on #118
There are other platforms than just Mac. Windows doesn't do triple click to select all so it's much more important there to support it.

[2020-09-20 00:32] sindresorhus commented on #118
Do many of the built-in Windows apps have "Select All" (WordPad, Notepad, etc)?

[2020-09-20 00:42] greggman commented on #118
Notepad yes

![notepad_D8Ff7nbCEJ](https://user-images.githubusercontent.com/234804/93691802-84499d00-fb25-11ea-9b22-001726168150.png)

Wordpad No

![wordpad_zPMN21aXou](https://user-images.githubusercontent.com/234804/93691806-87dd2400-fb25-11ea-90c3-143d31a23ce7.png)

Edge Yes

![ApplicationFrameHost_xv6kPKfYfU](https://user-images.githubusercontent.com/234804/93691808-8c094180-fb25-11ea-9a83-f4

[2020-09-23 21:08] sindresorhus commented on #118
Hehe. Windows and it's fantastic consistency. I guess we can add it to Windows only then.

[2020-10-05 21:23] jjeff opened #119 "Documentation Issue"
I am new to Electron, so I apologize if this is a noob question.

The first line of the `readme.md` says

Yet, it appears that Electron does have built-in context menu support through [`menu.popup()`](https://www.electronjs.org/docs/api/menu#menupopupoptions). Is readme file outdated, or am I misunderstanding what `menu.popup()` does? If I am misunderstanding, perhaps you could add a line to the `

[2020-10-05 21:55] sindresorhus commented on #119
That's just an API to create a menu. It's up to you to fill that menu. That's what `electron-context-menu` does.

[2020-10-12 04:08] tukutela opened #120 "THANKYOU!!!!"
Just wanted to say a massive THANKS!!!!! This is very much appreciated...

[2020-10-12 10:10] sindresorhus commented on #120
Glad you found it useful 👍🏻

[2020-10-12 10:10] #120 closed

[2020-10-15 04:23] GiovanH commented on #117
This is actually a bug with `is-dev`, not `electron-context-menu`. See https://github.com/sindresorhus/electron-is-dev/issues/24.

Still, as long as `electron-context-menu` includes `is-dev` as a dependency, it's broken.

[2020-10-15 04:28] GiovanH opened #121 "Does not work on webviews b/c getWebContents has been removed"
See https://www.electronjs.org/docs/breaking-changes#planned-breaking-api-changes-90

Context menu tries to grab web contents with `const webContents = win => win.webContents || (win.getWebContents && win.getWebContents());`, which fails on electron v9 and above due to the depreciation of `getWebContents`

[2020-10-15 04:32] GiovanH commented on #121
This seems to be fixed already! I must have an out-of-date version.

[2020-10-15 04:32] #121 closed

[2020-10-20 05:29] GiovanH opened #122 ""Download" actions do not work in webviews"
"Download" actions pass the webview as a window to electron-dl, but electron-dl does not support webviews. Electron-dl would need to change its specification or electron-context-menu should pass the parent window instead.

[2020-10-20 09:45] sindresorhus commented on #122
I think this should be fixed in `electron-dl`.

[2020-11-18 19:17] sergeyd63 opened #123 "Electron 11 - TypeError: win.addEventListener is not a function"
### Version: 2.3.0
### Electron: 11.0.1
`
contextMenu({
        window: contents
      });
`

is **failing**

Electron **WebContents** does not have **addEventListener** , instead (i guess) it has **addListener**

the thing that worked for me was changing the `webContents` function
by adding `win.getType && win.getType() == 'webview' ? win : `

to return win in case **win** is a **webview**

`cons

[2020-11-29 18:22] drschwabe commented on #102
@amanharwara You can accomplish this by capturing the click in the render process and using `ipcRenderer.send` to send the context you need, which you can then use apart of your logic in electron-context-menu function.

For example, in your render process (browser context):

[code]

then in your electron process:

[code]

[2020-12-03 10:39] heitara commented on #123
@sindresorhus can you please check this fork `https://github.com/heitara/electron-context-menu`.
Here is how to add it to you `package.json`:
[code]

[2020-12-13 16:42] jimodelid commented on #123
@heitara I've tried adding this to my app but the problem still persists.
[code]
Any ideas on how I can make it work? I really want a context menu for my app but I keep running into errors. The way I'm adding it is like this since I'm using webview:

[code]

If I remove the window option my app does not crash but the context menu does not show either.

The error I keep receiving:
`Error occurred i

[2020-12-13 16:56] heitara commented on #123
@jimodelid

You have to see the context menu.

This is from the context-menu docs:

'When not specified, the context menu will be added to all existing and new windows.'

[2020-12-13 17:00] jimodelid commented on #123
@heitara That's what

That's what I figured, I've read the context menu several times. So by not defining the window it should show for all windows, but right-clicking does not work, the context menu is not showing.

I'm using macOS, not sure if the problem is related to macOS Big Sur?

[2020-12-13 17:59] heitara commented on #123
Please, create a dummy public project that illustrates the problem and publish item GitHub. Then share it here and I'll check it. Cheers!

[2020-12-13 18:53] jimodelid commented on #123
@heitara Here you go: https://github.com/jimodelid/dummy-context-menu

[2020-12-13 20:39] heitara commented on #123
I've check the project and I've done the following things to check that it "works".
1. I've added some text before the webview tag in `index.html`.
2. I've updated the code
[code]

[2020-12-14 22:26] meeq commented on #123
### Workaround:

[code]

### Also worth noting:

`inspectElement` is not a method of [`BrowserWindow`](https://www.electronjs.org/docs/api/browser-window), but it is being called as one: https://github.com/sindresorhus/electron-context-menu/blob/a88871809b8b99ea03f88abb6424da86e64db485/index.js#L187

However, `inspectElement` _is_ available on [`WebContents`](https://www.electronjs.org/docs/api/we

[2020-12-15 10:05] josephernest opened #124 "Context menu in BrowserView (right click)"
Congrats for your project @sindresorhus, which looks very useful!

Just to be sure, you say:

Is that true also for `BrowserView` elements?

I mean when we have a "browser inside an Electron app", do we also have to use `electron-context-menu` as well?

Or can we ask `BrowserView` to use the default Chromium context menu:

![](https://i.stack.imgur.com/VxeSp.png)

?

[2020-12-15 11:51] sindresorhus commented on #124
Yes, Electron doesn't have the Chrome context menu, even in `BrowserView`.

[2020-12-15 11:51] #124 closed

[2020-12-15 12:22] josephernest commented on #124
Thank you @sindresorhus for your answer.

Do you have an example code / template of menu using your `electron-context-menu`, as close as possible as the original Chrome context menu? (I see there are many options, but you probably have such an example).

[2020-12-15 14:47] sindresorhus commented on #124
The defaults should be pretty close to Chrome, except missing some things that are not important. I modeled the default menu on Safari as Chrome generally is not good at UX.

[2020-12-15 15:32] josephernest commented on #124
It seems the context menu is not triggered when the right-click happens in a `BrowserView`. What specific code should be added in the case of a `BrowserView`?

Reproducible test:

main.js:
[code]

index.html
[code]

Right-clicking on `Hello world, right click on me!` works, but not if you right-click on Example.com:

![image](https://user-images.githubusercontent.com/6168083/102235846-0feb8380-3ef

[2020-12-16 10:12] josephernest commented on #124
Are you able to reproduce the problem @sindresorhus?
Can we reopen the issue #124 so that if someone has an idea he can contribute too?
Thank you

[2020-12-16 14:43] #119 closed

[2020-12-16 19:15] jimodelid commented on #123
Seems like this uses typescript which I’m not using, I have looked into the basic functions and are currently building my own functions, which seems easier since I’m not getting this module to work.

I’ve tried the previous post too but can’t seem to get anything to pop when I right click so building it myself seems like the easiest way to do.

[2020-12-17 06:08] sindresorhus opened #125 "Support `BrowserView`"
https://www.electronjs.org/docs/api/browser-view

---

This issue requires you to have advanced JS and Electron knowledge. It's not an easy issue.

[2020-12-17 06:09] sindresorhus commented on #124
Ah, I confused this with the webview tag. `BrowserView` is indeed not yet supported here. https://github.com/sindresorhus/electron-context-menu/issues/125

[2020-12-17 08:08] josephernest commented on #125
Reproducible test:

main.js:
[code]

index.html
[code]

![image](https://user-images.githubusercontent.com/6168083/102235846-0feb8380-3ef3-11eb-87f7-473609ef607a.png)

Right-clicking on `Hello world, right click on me!` works.

Expected behaviour: context menu should also appear when right-clicking on `Example domain`

[2020-12-17 08:24] josephernest commented on #125
I think we have to (see https://www.electronjs.org/docs/api/browser-window#wingetbrowserviews-experimental):

* loop over each item of `win.getBrowserViews()`, as `bv`
* we can access the `webContents` with `bv.webContents`

I don't know if we can keep (https://github.com/sindresorhus/electron-context-menu/blob/master/index.js#L7):

    const webContents = win => win.webContents || (win.getWebCont

[2020-12-29 07:27] exentrich commented on #123
No fix yet?

[2020-12-29 15:57] josephernest commented on #125
Do you think we should do like this @sindresorhus?

The problem is that your line

    const webContents = ...

uses only one fixed `webContent`.

Question: is it possible to run the init of your library, applied to a specific `webContents`? Something like:

    const contextMenu = require('electron-context-menu');
    contextMenu.addToWebContent(browserview2.webContents)

?

[2020-12-29 17:39] sindresorhus commented on #125
I don't have any answers. I don't use the browser views feature.

[2020-12-29 17:40] sindresorhus commented on #125
The `window` option supports web contents, which you can get from the browser view.

[2020-12-29 20:24] josephernest commented on #125
Good news @sindresorhus ! This works (no HTML file required here to do the test):

[code]

I passed the `BrowserView` via

        contextMenu({window: bv, ...

Only problem: error dialog box:

when this is executed: https://github.com/sindresorhus/electron-context-menu/blob/master/index.js#L340

This is normal because this does not exist for browserView.

... but the context menu is finally worki

[2020-12-30 06:45] sindresorhus commented on #125
I'm happy to take a PR for that.

[2020-12-30 08:06] josephernest commented on #125
Here it is @sindresorhus https://github.com/sindresorhus/electron-context-menu/pull/127

[2021-01-06 12:27] #125 closed

[2021-01-08 17:35] Yash-Singh1 commented on #118
Works in Ubuntu also

[2021-01-13 16:39] benjaminfrombe opened #128 "Spell check suggestions only work for primary language"
Hi,

in OSX, you can select several preferred languages which are autodetected through a native OSX api if I'm correct.

The language is detected automatically (so that works), as spelling errors are underlined in red. Unfortunately only suggestions in the primary language are given. So if my secondary language is Dutch, and I type an error, this is underlined but only english suggestions are bein

[2021-01-13 18:45] sindresorhus commented on #128
You need to report this over at https://github.com/electron/electron. This package just uses the Electron APIs for spellchecking.

[2021-01-13 18:45] #128 closed

[2021-01-16 01:41] patarapolw opened #129 "Does not work inside webview tags (electron-tabs)"
This project - https://github.com/brrd/electron-tabs

It appears that I can right click on the tabs area (which is outside webview), but not inside.

[2021-01-17 03:18] patarapolw commented on #37
@sergeyd63 It doesn't for me in Electron 11.

[code]

[2021-01-18 14:06] sergeyd63 commented on #37
@patarapolw that's a separate issue, i opened another one for that:

[https://github.com/sindresorhus/electron-context-menu/issues/123](url)

[2021-01-19 13:55] patarapolw commented on #123
It works.

[code]

@jimodelid Javascript? It is as simple as removing type definitions.

[code]

[2021-01-28 17:13] prokhororlov opened #130 "Error in Readme.md"
[code]

it looks like there should be an object in BrowserWindow params

[code]

[2021-01-28 17:19] #130 closed

[2021-01-31 09:27] smee30 commented on #123
Thanks @patarapolw - that works 👍

[2021-02-06 22:25] Slapbox commented on #78
@sindresorhus is there any plan to update the library to rely on `ipc` now that it's been improved so much and `remote` is being removed entirely soon?

[2021-02-06 22:28] Slapbox commented on #129
@patarapolw see this option: https://github.com/sindresorhus/electron-context-menu#window

You need to attach the context menu to each individual `BrowserWindow` or `WebView`.

[2021-02-10 13:17] coreybruce commented on #118
At least in Linux it's consistent ;)

[2021-02-24 22:12] Slapbox opened #133 "Remove remote module?"
@sindresorhus do you have any tips on how to approach this task for this project?

I'm finding it a bit difficult to reason about this package. Part of my difficulty comes from this bit: https://github.com/sindresorhus/electron-context-menu/blob/main/index.js#L7

Is there a use case where relying on `webContents.getFocusedWebContents()` would fail?

What parts of this package, if any, actually nee

[2021-02-25 20:06] sindresorhus commented on #133
This package works directly in both the main and renderer process. `BrowserWindow` is only directly available in the main process.

[2021-02-25 20:51] Slapbox commented on #133
@sindresorhus can you give any other tips for this task?

I'm looking into doing it but there's a lot going on here in single file used across both process types. If I'd been involved in the initial code I'm sure it would make fine sense, but it's rather difficult to grok the full workflow coming in fresh. It probably doesn't help that we've leaned on your excellent work as a crutch for so long! [

[2021-02-26 10:56] sindresorhus commented on #133
I think it will be too complicated to make this package *just work* in both the main and renderer process. I suggest removing support for the renderer process. A user can set up their own IPC for this if needed.

[2021-03-03 01:29] kaiserdj opened #134 "Modify menu item"
Hi,
I would like to know if there is any option to be able to modify the menu after being created, obtain the menu or inject new MenuItem

[2021-03-06 07:36] akoskm commented on #117
Looking at the last comment by @sindresorhus and the diff that's liked https://github.com/sindresorhus/electron-is-dev/compare/v1.2.0...v2.0.0

this part of the readme might be outdated https://github.com/sindresorhus/electron-context-menu/blob/621c29a8a133925ac25529e4bea2a738394e8609/readme.md#L9

and now you can use electron-context-menu only in the main process. Is that correct?

[2021-03-06 09:19] #96 closed

[2021-03-06 09:21] sindresorhus commented on #134
Yeah, I can see how that could be useful. Currently, there's only a way to append/prepend to the default menu. Maybe we could add a `updateMenu` option that is called before the menu is shown.

[2021-03-06 09:23] #129 closed

[2021-03-06 09:24] #42 closed

[2021-03-06 16:39] kaiserdj commented on #134
It seems like a very good solution

[2021-03-27 04:42] arx-001 opened #135 "how to ? electron-context-menu work webview How it will work in web view and main window"
How it will work in web view
_and main window Works only in window with this code I
t doesn't work in Web View..._
**Edit this code to make the context menu work**

[code]

[2021-04-02 06:43] arx-001 commented on #37
How it will work in web view
and main window Works only in window with this code I
t doesn't work in Web View...
Edit this code to make the context menu work

const { app, BrowserWindow} = require('electron');
const contextMenu = require('electron-context-menu');

contextMenu({

	labels: {
		cut: 'Cut',
		copy: 'Copy',
		paste: 'Paste',
		save: 'Save Image',
		saveImageAs: 'Save Image As…',
		copy

[2021-04-16 04:38] #135 closed

[2021-04-17 05:28] #123 closed

[2021-04-25 15:33] dusansimic commented on #133
I'd like to work on this issue. Should we expect users to know what they're doing or should there be some kind of check weather it's being required in the main or the renderer process?

[2021-04-25 16:22] williamstein opened #137 "using the spell checker to replace a misspelled word crashes electronjs."
On MacOS, at least for my relatively simple electronjs application, any time I try to replace an incorrectly spelled word, the entire application crashes.   I'm using the latest version of Electron.js as of this writing.

I made a simple one-line change in the index.js file and that completely fixed the problem, i.e., replace insertText by  replaceMisspelling.  Also the change of course makes a lo

[2021-04-25 16:25] williamstein commented on #137
I've made a PR:  https://github.com/sindresorhus/electron-context-menu/pull/138

[2021-04-25 16:40] williamstein commented on #137
I've also confirmed that this bug happens (for my application) on MS Windows, and that this bugfix also works there.

[2021-04-26 15:12] #137 closed

[2021-04-29 14:17] sindresorhus commented on #133
We should throw a useful error if it's required in the renderer process.

[2021-05-02 13:09] #133 closed

[2021-05-02 13:19] sindresorhus commented on #117
This is fixed in v3: https://github.com/sindresorhus/electron-context-menu/releases/tag/v3.0.0

[2021-05-02 13:19] #117 closed

[2021-05-02 13:20] sindresorhus commented on #78
This package now only works in the main process. It's too complicated to make it work with normal IPC.

https://github.com/sindresorhus/electron-context-menu/releases/tag/v3.0.0

[2021-05-02 13:20] #78 closed

[2021-07-05 06:38] jinshaopu opened #142 "properties not defined"
the last verion work  in electron 13.1.5,   console log out error   at electron.app.isPackaged ,properties not defined

[2021-09-05 18:49] EhsanFox opened #144 "Not Working on Production"
hey, I build my app with `electron-builder` and the context menu is not working in the production, but it works fine in developments.

[2021-09-05 18:49] EhsanFox commented on #144
when i click, it won't open anything.......

[2021-09-05 23:48] dragonDScript commented on #144
We can't help if you don't provide more info :/

And also, you shouldn't ask for help here. I come from the electron.js discord server, there we can help you! This is only to track bugs and other stuff.

[2021-09-06 06:52] EhsanFox commented on #144
well, this kinda looks like a bug, it works before building/packaging the app, but not afterward.

[2021-09-06 07:00] EhsanFox commented on #144
for more information, I just did what it said on example, it works fine in the dev process

[2021-09-06 10:26] Jaifroid opened #145 "Unclear documentation: please add sample code for enabling hidden built-in options"
Thank you very much for this module! It's very useful. The only issue is that the documentation is opaque. More mainstream examples are needed. For example, many devs will want to add a quick context menu using options that are pre-defined in electron-context-menu but which are turned off by default.

Suggestion: Could you please add a copy-and-paste example for rushed developers who want to get t

[2021-09-06 10:58] #145 closed

[2021-09-06 10:58] sindresorhus commented on #145
While I agree the initial example could be simpler, I think the docs are quite clear already. But yes, I can add another example.

[2021-09-06 12:22] Jaifroid commented on #145
Thank you. I'm sure future devs will be grateful too. Not all of us come from a strong Node or Electron background, so things that may seem perfectly clear simply from the documentation of the API can take a long time to work out.

[2021-09-06 15:04] dragonDScript commented on #144
We don't know which app isn't working or how we should repro this issue :/. Maybe create a repro gist or link your repo?

[2021-09-06 15:33] EhsanFox commented on #144
well, the app is private, but the context menu (literally the example code) in the readme is not working on the production......
i opened a help channel in Electron discord server too (channel number 9)

[2021-09-06 15:34] EhsanFox commented on #144
here is the code:
[code]

[2021-09-06 23:04] dragonDScript commented on #144
Where is this code? Main thread? Renderer thread?

[2021-09-15 09:57] EhsanFox commented on #144
app ready event is obviously on the main thread

[2021-09-24 10:44] Nashorn opened #147 "Not working in Electron 14.0.0"
requiring it throws:
[code]

[2021-09-24 10:50] sindresorhus commented on #147
From the readme:

[2021-09-26 10:29] ThomasOrlita opened #148 "Electron 15: Module '"electron"' has no exported member 'WebviewTag'"
After updating to Electron 15, TypeScript fails with:

    node_modules/electron-context-menu/index.d.ts:4:2 - error TS2305: Module '"electron"' has no exported member 'WebviewTag'.

https://github.com/sindresorhus/electron-context-menu/blob/88cc8071ea72fc1f81ae22be1c9c35a6587ecadb/index.d.ts#L4

[2021-09-29 19:14] nhayfield opened #149 "Interaction with menubar"
I haven't been able to get this working. I think maybe it is a conflict with https://github.com/maxogden/menubar which i am also using. Has anyone successfully used both? Passing menubar.window which is an instance of BrowserWindow did not seem to work. Right clicking gives me no functionality. Without using context menu i get the default inspect element on ubuntu so it is having an effect.

[2021-09-30 23:32] parkerholladay opened #150 "Enable accelerators for edit options"
For the edit options such as `Copy`, `Cut`, and `Paste` that has system hotkeys, it would be awesome to have a flag that you could use to enable the `CmdOrCtrl+C`, etc. hotkeys to be displayed in the `MenuItem[]`. i.e.
[code]

Another possibility would be to extend the `labels` option to allow not just a string, but an object for the string label and an accelerator. i.e.
[code]

I'd be more than h

[2021-10-19 23:17] jcv8000 commented on #148
I'm having the same problem, for now you can get around it by requiring it like this until it gets fixed:
[code]

[2021-11-22 18:43] nhayfield commented on #149
` menubar.app.on('web-contents-created', () => {
      contextMenu();
    });`

took awhile to figure out...

[2021-11-22 18:43] #149 closed

[2021-11-27 01:52] oleg-slapdash opened #152 "Ability to hide "Copy Link" and "Save Link As" for `file://` protocol"
Currently, the package allows copying links that are not really links and just internal files.

It would be awesome if there was a way to disable `file://` links from being treated as links.

Alternatively, maybe we can pass a function instead of a callback into `showCopyLink` so we can fine-tune the behaviour.

[2021-11-27 02:01] oleg-slapdash opened #153 "Incorrect Typescript types for defaultActions"
Typescript actions defined as
[code]

But in fact, the options argument has a default value. All actions should be defiend as:
[code]

[2021-11-27 02:03] oleg-slapdash opened #154 "Default action `saveLinkAs` does not exist in Typescript type definitions"
The default action `saveLinkAs` does not exist in Typescript type definitions but is available in `defaultActions` object.

[2021-11-28 10:55] sindresorhus commented on #152
I think it would make sense to add a top-level option for this. I think it should hide them for `file://` by default. You would rarely want to expose `file://` URLs.

[2021-11-28 10:56] #147 closed

[2021-12-23 16:30] ithil commented on #114
For anyone still searching: it's [in the Electron docs](https://www.electronjs.org/docs/latest/api/menu-item) not in the `electron-context-menu` docs. And it would look like this:

[code]
Note that `submenu` is an array of `MenuItem`s.

[2021-12-25 13:37] vraravam opened #155 "Add other search engines"
As security-minded person, it would be good to allow searching by other search engines eg DuckDuckGo.
If using DDG, the url is of the form: `https://duckduckgo.com/?q=${searchTerm}`

Other users I have seen also use Bing in some cases.

[2021-12-25 13:51] vraravam commented on #155
I see that there's already #151 which was closed with the comment that it won't be enhanced for other search engines. Closing this ticket.

[2021-12-26 14:30] vraravam commented on #155
@sindresorhus - yes, I think that would be a good idea for the developer to provide the name and url/format of the search engine. I assume this will also take into account the i18n?

[2022-01-10 03:40] HemalR commented on #148
This works 👍 However (unless I am missing a step), it disables the typings, is that right?

Another option I found while searching for a solution was to modify tsconfig:

[code]
This seems to also work, without the side effect of disabling typings. But is there another downside that I am missing here? Someone more clued in with Typescript can hopefully chip in if so.

[2022-01-10 04:41] jcv8000 commented on #148
I ended up doing this too because so many of the libraries I was using have this same issue

[2022-01-11 08:30] fabform commented on #155
Handy alternative list of [alternative search engines](https://fabform.io/a/alternative-search-engines)

[2022-01-20 13:11] sidpremkumar commented on #129
Just leaving a comment here for the future this is totally possible, based on this comment: https://github.com/sindresorhus/electron-context-menu/issues/37#issuecomment-628657983

What you have to do is:
[code]

Just note you will have to implement inspect element if you want that working inside `BrowserViews` (since that only exists on `BrowserWindows`

[2022-02-01 16:27] tonesto7 commented on #142
I'm seeing this same issue with 13.6.8.  I had to stop using electron-is-dev package in my project and just use app.isPackaged in the mainProcess.

I can't use v3.x of this project until this is resolved :(

[2022-02-13 08:45] #148 closed

[2022-05-09 11:41] Bartel-C8 commented on #150
It was once suggested here, but declined back then...
https://github.com/sindresorhus/electron-context-menu/pull/87

For MacOS (only?), the shortcuts CMD + C & CMD + V do not work, if no accelerator are defined for these actions...

[2022-07-28 21:45] MikeBusuttil opened #159 "Picture in picture"
Hey guys, do you guys know how we might get Chrome's "Picture in picture" option to show when right-clicking a video?

![image](https://user-images.githubusercontent.com/31480000/181642933-852661b2-0cec-4040-bea8-1261e1344220.png)

[2022-07-29 07:45] sindresorhus commented on #159
Seems like it's a web feature: https://developer.mozilla.org/en-US/docs/Web/API/Picture-in-Picture_API

So we could add a menu item when right-clicking videos.

Not something I intend to work on, but high-quality pull requests are welcome.

[2022-08-11 22:53] #118 closed

[2022-08-24 21:51] hns258 commented on #155
Hoping to take a crack at this. Just wanted to check if adding an object type option, like below, would be ok? It seems to work but not sure if it's the preferred way (still relatively new to javascript). Still deciding on the name too.
[code]

[2022-08-26 10:55] ibandominguez commented on #152
For anyone facing this issue and reading this.

It might not be the best solution since it targets the whole menu, but the api offers and option function parameter **shouldShowMenu** that decides wether or not the menu should be shown:

[code]

In case I didn't want any context on links so it did the trick.

Hope it helps somebody out there

[2022-08-31 15:52] shashankx86 opened #163 "[HELP] get link when right click"
Is it possible to get link with right click in it
When I right on anything if it has link show open in browser

I want to add Open in browser option in menu

[2022-08-31 16:22] sindresorhus commented on #163
You can use the `prepend` option to add your own menu item.

You can use the provided https://electronjs.org/docs/api/web-contents/#event-context-menu object to check whether the right-clicked element is a link.

[2022-08-31 16:22] #163 closed

[2022-09-09 22:33] Slapbox commented on #49
I don't even see how it's possible to use the `x/y` coordinates because the `contextmenu` event fires immediately but getting the element at `x/y` would require another round trip IPC from main to renderer and back - but `contextmenu` can't be made to wait while that IPC completes.

[2022-09-10 01:41] Slapbox commented on #49
@sindresorhus would you be open to a PR to enable this if it added a slight delay to the menu appearing, and if so, what would be your acceptable threshold in milliseconds?

I don't think it would be very easy to cleanly implement as an optional feature. I'm also not even sure I'll ever get around to it.

[2022-09-11 08:38] sindresorhus commented on #49
@Slapbox I don't think that would work well in practice. The required delay would depend on the machine performance, Electron version, and other factors. The best solution is to just do all the logic in the renderer.

[2022-09-12 02:37] Slapbox commented on #49
I of course agree, but I don't see how without breaking Electron's security model.